.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; 
  /* background-color: #f7f7f7;  */
}

.login-form {
  background-color: white; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.login-form input {
  margin-bottom: 10px; 
}

.login-form-container button {
  margin-top: 10px; 
}
